@import 'constants.css';


html {
    background-image: url("../images/property.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


/* ------------------------------------- ADD PROPERTY ---------------------------------------- */
#add_property {
    box-sizing: border-box;
    width: 50em;
    padding: 1em;
    margin: auto;

    background-color: whitesmoke;
    border-radius: 1em;
}

#add_property > form {
    width: 100%;

    display: grid;
    grid-template-areas:
        "title title"
        "city address"
        "price capacity"
        "description description"
        "submit submit";
}

#add_property > form > .form_entry {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    margin: 0.25em 0em;
}

#add_property > form > .p_title {
    grid-area: title;
}
#add_property > form > .p_city {
    grid-area: city;
}
#add_property > form > .p_address {
    grid-area: address;
}
#add_property> form > .p_price {
    grid-area: price;
}
#add_property > form > .p_capacity {
    grid-area: capacity;
}
#add_property > form > .p_description {
    grid-area: description;
}
#add_property > form > .submit {
    grid-area: submit;
    margin: 0.5em auto;
}

@media (max-width: 55em) {
    #add_property {
        width: 100%;
        border-radius: 0;
    }
    
    #add_property > form {
        display: flex;
        flex-direction: column;
    }
}