@import 'constants.css';
@import 'header.css';
@import 'footer.css';

html, body {
    margin: 0;
    padding: 0;
}

i {
    font-size: 1.2em;
    margin: 0 1em;
    text-align: center;
}

/* ---------------------- MESSAGES -------------------------- */
.message_bg {
    width: 100%;
    height: 0;

    position: fixed;
    top: 0;
}

.messages {
    background-color: whitesmoke;
    border: 2px solid var(--light-gold);
    border-radius: 1em;
    
    padding: 0em 1em;
    margin: 0.5em auto;

    width: 10em;
    text-align: center;
}

.messages .error {
    color: red;
}

/*  ------------------- MODAL BOXES ---------------------- */
.modal_bg {

    background-color: rgba(0.0, 0.0, 0.0, 0.6);
    
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.modal {
    background-color: white;
    border-radius: 1em;

    position: relative;
    width: 30em;
    height: 20em;

    margin: auto;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_body {
    padding: 2em;
    position: relative;
    text-align: center;
    align-items: center;
}
.modal_body > form > * {
    display: block;
}
.modal_body > form:not(:last-child) {
    width: 100%;
}


/* close button */
.close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1em;
    cursor: pointer;
}
.close:hover {
    text-decoration: underline;
}


/* login and signup buttons */
.login, .signup {
    cursor: pointer;
}
.modal .login:hover, .modal .signup:hover {
    text-decoration: underline;
}


/* all buttons */
.button, button, input[type="button"], input[type="submit"] {
    background-color: var(--dark-gold);
    border: 2px solid var(--dark-gold);
    border-radius: 1em;
    text-decoration: none;
    /* padding */
    color: white;
    text-decoration: none;
    display: inline-block;
    padding:0.25em 0.75em;
}
.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: var(--light-gold);
    color: white;
    border: 2px solid var(--light-gold);
    cursor: pointer;
}


/* login */

.login_form{
    padding: 0.5em;
    margin:0 auto;
}

/******************* */
/* user reservations */
/******************* */

#current_reservation, #upcoming_reservations, #previous_reservations{
    background-color: brown;
    padding:1.2em;
    margin: 2px auto;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
}

#current_reservation > ul > li > a, #upcoming_reservations > ul > li > a, #previous_reservations > ul > li > a{
    text-decoration: none;
    padding:0.4em;
    margin: auto;
    font-weight: 300;
}

/* unvisited link */
#current_reservation > ul > li > a:link, #upcoming_reservations > ul > li > a:link, #previous_reservations > ul > li > a:link{
    color: black;
  }
  
  /* visited link */
#current_reservation > ul > li > a:visited, #upcoming_reservations > ul > li > a:visited, #previous_reservations > ul > li > a:visited {
    color: grey;
  }
  
  /* mouse over link */
#current_reservation > ul > li > a:hover, #upcoming_reservations > ul > li > a:hover, #previous_reservations > ul > li > a:hover {
    color: palevioletred;
  }
  
  /* selected link */
#current_reservation > ul > li > a:active, #upcoming_reservations > ul > li > a:active, #previous_reservations > ul > li > a:active {
    color: goldenrod;
  }

#current_reservation > ul >li , #upcoming_reservations > ul > li , #previous_reservations > ul > li {
    list-style-type: none;
    text-align: center;
    padding: 0.8em;
}
 /*cancel*/
#upcoming_reservations > ul > li > label > a{
    font-weight: 600;
    text-decoration: none;
}

#upcoming_reservations > ul > li > label > a:link{
    color:black;
}

#upcoming_reservations > ul > li > label > a:visited{
    color:grey;

}

#upcoming_reservations > ul > li > label > a:hover{
    color:palevioletred;

}

#upcoming_reservations > ul > li > label > a:active{
    color:goldenrod;

}

/***************************** */

#current_reservation > header, #upcoming_reservations > header, #previous_reservations > header{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

#no_properties > li{
    list-style-type: none;
    text-align: center;
}

