@import 'constants.css';
@import 'header.css';
@import 'footer.css';

html, body {
    margin: 0;
    padding: 0;
}

i {
    font-size: 1.2em;
    margin: 0 1em;
}


/* MESSAGES */
.messages {
    padding: 0em 1em;
    background-color: white;
    border: 2px solid goldenrod;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
    left: 50%;
    top:1em;
    position: absolute;
}

/* MODAL BOXES */
.modal_bg {
    background-color: rgba(0.0, 0.0, 0.0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: white;
    width: 50%;
    height: 50%;
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
.modal_body {
    padding: 2em;
    position: relative;
    text-align: center;
    align-items: center;
    border-radius: 1em;
}
.modal_body input {
    display: block;
    align-items: center;
}


/* close button */
.close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1em;
    cursor: pointer;
}
.close:hover {
    text-decoration: underline;
}


/* login and signup buttons */
.login, .signup {
    cursor: pointer;
}
.modal .login:hover, .modal .signup:hover {
    text-decoration: underline;
}


/* all buttons */
.button, button, input[type="button"], input[type="submit"] {
    background-color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 1em;
    text-decoration: none;
    /* padding */
    color: white;
    display: inline-block;
}
.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: white;
    color: goldenrod;
    border: 2px solid goldenrod;
}

.button{
    text-decoration: none;
    padding:0 0.3em;
}


/* search */
#search{
    display: grid;
    background-color:aqua;
    padding: 0px 10px;
}

#search > form {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

#search > form > div{
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 2px;
}


/*  FIXME: change this to a page specific file  */
/* profile page */
#info{
    width: 400px;
    margin: auto;
    background: whitesmoke;
    box-shadow:0 4px 10px 0 rgba(0.0, 0.0, 0.0, 0.5);
    padding: 1em;
}

.profile_image{
    position: relative;
}

.icon{
    margin-right: 10px; 
}

.main_info{
    padding: 20px;
}

.profile_edit{
    padding: 0.8em;
    margin: 0 8em;
}

/* login */

.login_form{
    padding: 0.5em;
    margin:0 auto;
}


/* manage properties page */

#property_of_user{
    border-style: solid;
    border-radius: 10px;
    border-color: goldenrod;
    padding:1em;
    margin:2em 1em;
}

#property_of_user > li{
    padding: 0.5em;
    list-style-type: none;
    margin-left: 50%;
}

#property_of_user > li > a{
    text-decoration: none;
    padding:0.4em;
}

.add_property_button{
    padding:1em;
}
