@import 'constants.css';


/* --------------------------------- CHANGE PICTURE ---------------------------------------- */
#change_picture {
    background-color: var(--light-grey);
    width: 60em;
    margin: 1em auto;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.responsive_image {
    box-sizing: border-box;

    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0.5em;
}

/* ------------------------------------- EDIT PROFILE ----------------------------------- */
#edit_profile {
    box-sizing: border-box;
    width: 60em;
    margin: 1em auto;    
    padding: 1em;
    
    background-color: var(--light-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit_profile > form {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "username username"
        "firstname lastname"
        "email email"
        "description description"
        "submit submit";
}

#edit_profile > form > .form_entry {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin: 0.25em 0;
}

#edit_profile > form > .username {
    grid-area: username;
}
#edit_profile > form > .first {
    grid-area: firstname;
}
#edit_profile > form > .last {
    grid-area: lastname;
}
#edit_profile > form > .email {
    grid-area: email;
}
#edit_profile > form > .description {
    grid-area: description;
}
#edit_profile > form > .submit {
    grid-area: submit;
    margin: 1em auto;
}


/* ------------------------------------- CHANGE PASSWORD ---------------------------------- */
#change_password {
    box-sizing: border-box;
    margin: 1em auto;
    width: 60em;
    padding: 1em;


    background-color: var(--light-grey);
}

#change_password > form {
    display: flex;
    flex-direction: column;
}

#change_password > form > .form_entry {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin: 0.25em 0;
}
#change_password > form > .submit {
    align-self: center;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------- */

@media (max-width: 65em) {
    #change_picture {
        width: 100%;
    }

    #edit_profile > form {
        display: flex;
        flex-direction: column;
    }

    #edit_profile {
        width: 100%;
    }

    #change_password {
        width: 100%;
    }
}