@import 'constants.css';


body > header {
    background-color: #3b3b3b;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
}

.menu > li {
    margin: 0.5em;
}

.menu_icon, #menu_btn {
    display: none;
    margin: auto 0;
}

.menu .button {
    background-color: var(--dark-gold);
    border-color: var(--dark-gold);
}


@media (max-width: 40em) {
    header nav {
        display: grid;
        grid-template-areas:
            "logo icon"
            "menu menu"
    }

    .logo {
        grid-area: logo;
    }
    
    .menu {
        grid-area: menu;
        display: none;
        padding: 0.5em;
    }

    .menu > li {
        margin: 0;
        padding: 0.5em;
        background-color: rgb(200, 200, 200);
        border-bottom: 1px solid #3b3b3b;
    }

    .menu .button {
        background-color: rgb(200, 200, 200);
        border: 0;
        border-radius: 0;
        text-decoration: none;
        display: block;
        color: black;
    }
    .menu .button:hover {
        background-color: rgb(200, 200, 200);
        color: goldenrod;
        border: 0;
    }
    
    .button{
        text-decoration: none;
        padding:0 0.3em;
    }

    .menu_icon {
        grid-area: icon;
        display: block;
        color: goldenrod;
        padding: 1em;
        font-size: 1.5em;
    }

    .menu_icon:before {
      content:'\2630';
    }

    #menu_btn:checked + .menu_icon + .menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #menu_btn:checked + .menu_icon:before {
        content:'\2715';
    }
}