@import 'constants.css';


/* TODO: extend some of the input boxes */

/* ------------------ BACKGROUND IMAGE --------------------- */
html {
    background-image: url("../images/bg.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* --------------------- SEARCH FORM ------------------------ */
.search {
    background-color: whitesmoke;

    width: 38em;

    border-radius: 1em;
    padding: 1em;
    margin: auto;
}

.search > form {
    display: grid;
    grid-template-areas:
        "where where"
        "checkin checkout"
        "guests guests"
        "min max"
        "submit submit";
}

.search > form > .form_entry {
    display: flex;
    flex-direction: column;

    margin: 0.5em 0em;
}

.search > form > .where {
    grid-area: where;
}
.search > form > .checkin {
    grid-area: checkin;
}
.search > form > .checkout {
    grid-area: checkout;
}
.search > form > .guests {
    grid-area: guests;
}
.search > form > .min {
    grid-area: min;
}
.search > form > .max {
    grid-area: max;
}
.search > form > .submit {
    grid-area: submit;
    margin: 0.5em auto;
}

@media (max-width: 40em) {
    .search > form {
        display: grid;
        grid-template-areas:
            "where"
            "checkin"
            "checkout"
            "guests"
            "min"
            "max"
            "submit";

        padding: 1em;
    }

    .search {
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
}

/* -------------------------- FOOTER --------------------------- */
body > footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media ((max-height: 640px) and (max-width: 40em)) or ((max-height: 460px) and (min-width: 40em)) {
    body > footer {
        position: relative;
        bottom: auto;
        left: auto;
    }
}