/* colocar num ficheiro so para o indice */
html {
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}