@import 'constants.css';

html {
    background-image: url("../images/bg.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

body > footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.search {
    width: 40em;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 7em 17em;
}
/*
.search > form {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}*/

.search > form{
    display: grid;
    grid-template-rows: 5vh 5vh 4vh 4vh;
    grid-template-areas: "where where" "checkin checkout" "minprice maxprice" "guests guests" "submit submit";
}

.where{
    grid-area: where;
}

.checkin{
    grid-area: checkin;
}

.checkout{
    grid-area: checkout;
}

.minprice{
    grid-area: minprice;
}

.maxprice{
    grid-area: maxprice;
}

.guests{
    grid-area: guests;
}

.submit{
    grid-area: submit;
}



.search > form > div{
    color: black;
    font-weight: 600;
    text-align: left;
}

.search > form > div.submit{
    color: black;
    font-weight: 600;
    text-align: center;
}

.search > form > div.where{
    color: black;
    font-weight: 600;
}
