@import 'constants.css';


/* ------------------------ PROPERTY LIST ------------------------ */
body > ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0;
    padding: 1em;
}

/* ----------------------------- PROPERTY CARD -------------------- */
.property {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em auto;
    padding: 0.5em;
    
    width: 60em;

    background-color: var(--light-grey);
}
.property > .p_image {
    margin: 0.5em;
}
.property > .p_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0.5em 0;

    flex-grow: 1;
}
.property > .p_info > .actions {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.property > .p_info > .actions > * {
    margin: 0.5em;
}


/* --------------------------------------- ADD PROPERTY ------------------------------------ */
body > .add_property {
    display: flex;
    justify-content: center;
    margin: 1em 1em 2em 1em;
}
body > .add_property {
    padding: 0 0.5em;
}

/* --------------------------------------- MEDIA QUERIES ------------------------------------ */
@media (max-width: 65em) {
    .property {
        box-sizing: border-box;
        width: 100%;
    }
    .property > .p_image {
        margin: 0.5em auto;
    }
    .property > .p_info {
        margin: 0.5em auto;
    }
}
