@import 'constants.css';


/* common to user and property reservations */
#current_reservation, #upcoming_reservations, #previous_reservations {
    background-color: var(--light-grey);

    padding: 1em;
    margin: 1.5em auto;
    width: 60em;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* styling the headers of all sections */
#current_reservation > header, #upcoming_reservations > header, #previous_reservations > header{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

* > ul {
    padding: 0;
    margin: 0;
}

* > ul > li > p {
    margin: auto 0;
    padding: 0.5em;
}

#current_reservation > ul > li, #upcoming_reservations > ul > li, #previous_reservations > ul > li {
    background-color: whitesmoke;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5em auto;
}

#no_properties > li{
    list-style-type: none;
    text-align: center;
}

#no_properties_reservations > li{
    list-style-type: none;
    text-align: center;
}

/* -------------------------------------------- MEDIA QUERIES ----------------------------------------- */
@media (max-width: 65em) {
    #current_reservation, #upcoming_reservations, #previous_reservations {
        width: 100%;
    }
}
