@import 'constants.css';


/* TODO: style and layout the search form */

body {
    display: grid;

    grid-template-areas:
        "header"
        "search"
        "results"
        "footer";
}


/* ---------------- HEADER ----------------*/
body > header {
    grid-area: header;
}


/* ---------------- SEARCH BAR ----------------*/
.search {
    grid-area: search;
    background-color: var(--light-grey);
}

.search > form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1em;
}

.search > form > .form_entry {
    display: flex;
    flex-direction: column;
}

.search > form > .submit {
    flex-basis: 100%;
    margin: 0.5em auto;
}


/* ---------------- SEARCH RESULTS ---------------- */
.results {
    grid-area: results;

    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0;
    padding: 1em;
}

.p_item {
    display: flex;
    justify-content: start;
    margin: 0.5em auto;
    padding: 0.5em;

    width: 60em;

    background-color: var(--light-grey);
}

.p_item > .p_image {
    margin: 0.5em;
}

.p_item > .p_info {
    display: grid;
    grid-template-areas:
        "title title"
        "description description"
        "address address"
        "capacity price"
        "owner owner";

    margin: 0.5em;
}

.p_item > .p_info > * {
    margin: 0.5em 0;
}

.p_item > .p_info > .p_title {
    grid-area: title;
    margin: 0;
}
.p_item > .p_info > .p_description {
    grid-area: description;
    text-justify: inter-word;
}
.p_item > .p_info > .p_address {
    grid-area: address;
}
.p_item > .p_info > .p_price {
    grid-area: price;
}
.p_item > .p_info > .p_capacity {
    grid-area: capacity;
}
.p_item > .p_info > .p_owner {
    grid-area: owner;
}


@media (max-width: 65em) {
    .p_item {
        width: 90%;
        margin: 0.5em auto;
        flex-wrap: wrap;
    }

    .p_item > .p_image {
        margin: 0.5em auto;
    }
}





/* ---------------- FOOTER ---------------- */
body > footer {
    grid-area: footer;
}

